@{
    ViewData["Title"] = "Home Page";
}
<div id="billblock" >
    <div id="form">
        <form>
            Bills:<br>
            <input type="text" name="Bill Month">
            Bill Method:<br>
            <input type="text" name="Bill Month">
            Bill Frequency:<br>
            <input type="text" name="Bill Month">
            
        </form>
    </div>
</div>
